<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/04/24 10:52:18</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.setData()[pri:0, instance:testcases.TC001_Login@3fee9989]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1485697819</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/04/24 10:52:18</td>   <td>579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.Login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_Login@3fee9989]">Login</td> 
  <td>main@1485697819</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/04/24 10:52:18</td>   <td>625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.Login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_Login@3fee9989]">Login</td> 
  <td>main@1485697819</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/04/24 10:52:18</td>   <td>641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.Login(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_Login@3fee9989]">Login</td> 
  <td>main@1485697819</td>   <td></td> </tr>
</table>
