<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>19/04/30 10:47:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.CreateLead@f777e8]">cLead1</td> 
  <td>main@29011566</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/04/30 10:47:54</td>   <td>17288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.cLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.CreateLead@f777e8]">cLead1</td> 
  <td>main@29011566</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/04/30 10:47:28</td>   <td>-8571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.CreateLead@f777e8]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29011566</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/04/30 10:47:46</td>   <td>9640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week3.CreateLead@f777e8]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@29011566</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/04/30 10:47:44</td>   <td>7559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:week3.CreateLead@f777e8]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@29011566</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/04/30 10:48:01</td>   <td>24436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.logout()[pri:0, instance:week3.CreateLead@f777e8]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@29011566</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>19/04/30 10:47:27</td>   <td>-9861</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:week3.CreateLead@f777e8]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29011566</td>   <td></td> </tr>
</table>
